.legalList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
}

.legalItem {
  font-size: 14px;
  line-height: 1.29;
  color: var(--background);
  position: relative;
}

.legalItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -24px;
  bottom: -1px;
  width: 1px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--background);
  opacity: 0.2;
}
