.storesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.containerVariant {
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .storesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    row-gap: 32px;
  }

  .storeItem {
    width: calc((100% - 16px) / 2);
  }

  .containerVariant {
    column-gap: 16px;
    row-gap: 32px;
  }

  .itemVariant {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .storesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
  }

  .storeItem {
    width: calc((100% - 40px) / 3);
  }

  .containerVariant {
    column-gap: 36px;
    row-gap: 38px;
  }

  .itemVariant {
    width: calc((100% - 72px) / 3);
  }
}
