.orderTotalContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--background-card-green);
  margin-bottom: 20px;
}

.orderTotalContainer p {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
}
