.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputField {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 100px;
  width: 279px;
  background-color: #fff;
  font-size: 12px;
  padding: 12px 14px;
  outline: transparent;
  outline-offset: 4px;
  line-height: 1.5;
  transition: border-color var(--animation);
}

.inputFieldRegisterMobile,
.inputFieldLoginMobile {
  width: 335px;
}

.registerModal,
.login {
  max-width: 100%;
}

.inputField:hover {
  border-color: var(--green);
}

.inputField::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--placeholder);
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  position: absolute;
  top: 43px;
  color: var(--red);
}

.inputError,
.inputError:hover {
  border-color: var(--red);
}

/* Styles for cart page */
.cartPage {
  width: 295px;
}

.cartLabel {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: unset;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  margin-left: 18px;
}

.cartErrorMessage {
  top: 70px;
}

@media screen and (min-width: 768px) {
  .errorMessage {
    font-size: 10px;
  }

  .registerModal,
  .login {
    width: 323px;
  }

  .inputFieldRegisterMobile {
    width: 279px;
  }

  .inputFieldLoginMobile {
    width: 323px;
  }

  /* Styles for cart page */
  .cartPage {
    width: 260px;
  }

  .cartLabel {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: unset;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    margin-left: 18px;
  }

  .cartErrorMessage {
    top: 70px;
  }
}
