.pageContainer {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.secondaryContainer {
  display: flex;
  gap: 96px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    padding: 116px 0 106px 0;
  }

  .container {
    max-width: 628px;
  }
}

@media screen and (min-width: 1440px) {
  .pageContainer {
    padding-top: 44px;
  }

  .container {
    max-width: 1184px;
  }
}
