.pageContainer {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  background-image: url(/src/assets/images/elements.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right 0px;
  background-size: 279px 257px;
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (min-devide-pixel-ratio: 2) {
  .pageContainer {
    background-image: url(/src/assets/images/elements@2x.png);
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    padding: 116px 0 106px 0;
  }

  .container {
    max-width: 628px;
  }
}

@media screen and (min-width: 1440px) {
  .pageContainer {
    padding: 28px 100px 262px 100px;
    max-width: 1440px;
  }

  .container {
    flex-direction: row;
    padding-top: 122px;
    max-width: 1240px;
    gap: 150px;
  }
}
