.AddPharmacyPromoSection {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.pharmacyPromoContainer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  border-radius: 32px;
  padding: 20px;
  background-color: var(--green);
  margin-bottom: 40px;
}

.aboutPromoContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.146;
  letter-spacing: -0.01em;
  color: var(--text-white);
  margin-bottom: 24px;
}

.description {
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-white);
  margin-bottom: 40px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--button-border-white);
  border-radius: 100px;
  width: 154px;
  height: 44px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-white);
  transition: color var(--animation), border-color var(--animation);
}

.link:hover {
  color: var(--white);
  border-color: var(--white);
}

@media screen and (min-width: 768px) {
  .AddPharmacyPromoSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pharmacyPromoContainer {
    padding: 40px 48px;
    margin-bottom: 64px;
  }

  .aboutPromoContainer {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 16px;
    line-height: 1.25;
  }

  .link {
    width: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .pharmacyPromoContainer {
    flex-direction: row;
    padding: 40px 40px 40px 80px;
  }
}
