.customerReviewsSection {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 14px;
}

.description {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: var(--text-grey);
  margin-bottom: 64px;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.reviewItem {
  border: 1px solid var(--text-white);
  padding: 54px 16px 32px 16px;
  border-radius: 27px;
  width: 344px;
  height: 232px;
  background-color: var(--background-card-white);
  position: relative;
}

@media screen and (min-width: 768px) {
  .customerReviewsSection {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title {
    font-size: 40px;
    line-height: 1.2;
  }

  .description {
    font-size: 16px;
    line-height: 1.25;
  }

  .reviewsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 16px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .customerReviewsSection {
    padding-top: 60px;
  }

  .reviewsContainer {
    justify-content: center;
    gap: 28px;
  }

  .reviewItem {
    padding: 54px 28px 32px 28px;
    width: 382px;
  }
}
