.featureContainer {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.featureIcon {
  stroke: var(--green);
}
