@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/inter-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/inter-medium-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/inter-semi-bold-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/inter-bold-700.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

:root {
  --green: #59b17a;
  --green-hover: #3f945f;
  --green-disabled: rgba(89, 177, 122, 0.1);
  --green-border: rgba(89, 177, 122, 0.5);
  --background: #f7f8fa;
  --border-nav-item: #d9d9d9;
  --background-card-green: #e7f1ed;
  --background-card-white: #fdfdfd;
  --background-rectangle-green: rgba(89, 177, 122, 0.08);
  --white: #ffffff;
  --black: #1d1e21;
  --red: #e85050;
  --red-disabled: rgba(232, 80, 80, 0.1);
  --yellow-star: #ffc531;
  --text-grey: #93939a;
  --text-white: #f1f1f1;
  --icon-border: rgba(250, 247, 249, 0.1);
  --elements-grey: rgba(247, 248, 250, 0.3);
  --social-icon-hover-border: rgba(247, 248, 250, 0.5);
  --button-border-white: rgba(241, 241, 241, 0.5);
  --placeholder: rgba(29, 30, 33, 0.4);
  --banner-text: #252539;
  --shadow: rgba(18, 20, 23, 0.08);
  --description: #6a6a6f;

  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  background-color: var(--background);
  color: var(--black);

  --animation: 200ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0, auto;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
