.addressWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
}

.mapIcon,
.phoneIcon {
  stroke: var(--green);
}

.addressContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.address,
.city,
.phone {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.29;
  color: var(--text-grey);
  transition: color var(--animation);
}

.address:hover,
.phone:hover {
  color: var(--black);
}

.phoneWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .addressWrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
  }

  .mapIcon,
  .phoneIcon {
    stroke: var(--green);
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .address,
  .city,
  .phone {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-grey);
  }

  .phoneWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
